---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About|Durr Studios" description="About Me">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by, here is a little about me and my background."
			>
				<img
					width="1553"
					height="873"
					src="https://pocketbase.durrstudios.dev/api/files/k1iacq7ohgiq9re/w27m83c9v5vdrq1/360_f_312003832_t2hmg_ml_jon_dyc_dj_kybmty_rl0k5ta_ietb_898TQ6FG9g.jpg?token="
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						<strong> Early Years:</strong>
Born and raised in the scenic landscapes of Michigan, I discovered my passion for technology at an early age. While most kids were playing sports or video games, I found myself tinkering with computers and fascinated by the endless possibilities they offered.
					</p>
					<br>
					<p>
						<strong>Introduction to Development:</strong>
At the age of 12, I wrote my first line of code, creating a simple webpage for a school project. From that moment on, I was hooked. I delved deeper into the world of programming, teaching myself various languages and frameworks through online courses and tutorials.
					</p><br>
					<p>
						<strong>Freelancing Journey:</strong>
By the time I was 15, I had honed my skills enough to start freelancing as a UI/UX and Backend Developer. Armed with determination and a hunger for learning, I took on small projects for local businesses and individuals, building websites and applications tailored to their needs.
					</p><br>
					<p>
						<strong>UI/UX Expertise:</strong>
I quickly realized the importance of user experience in digital products. I studied the principles of design and psychology, applying them to create intuitive and visually appealing interfaces. Crafting seamless user journeys became second nature to me as I aimed to provide users with the best possible experience.
					</p><br>
					<p>
						<strong>Backend Development Mastery:</strong>
While my passion initially lied in front-end development, I soon ventured into the realm of backend development. I delved into databases, server management, and API integrations, understanding the crucial role they played in ensuring the functionality and performance of web applications.
					</p><br>
					<p>
						<strong>Continuous Learning:</strong>
Despite my success as a freelancer, I never stopped learning. I kept myself updated with the latest technologies and trends in the industry, constantly seeking ways to improve my skills and stay ahead of the curve. Whether it was attending workshops, participating in online communities, or collaborating with fellow developers, I embraced every opportunity for growth.
					</p><br>
					<p>
						<strong>Impact and Future Aspirations:</strong>
Today, as a seasoned UI/UX and Backend Developer, I take pride in the impact my work has on businesses and individuals alike. Every project is not just a job but an opportunity to create something meaningful and impactful. Looking ahead, I aspire to further refine my skills, contribute to innovative projects, and inspire the next generation of developers through mentorship and education.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><strong>2011-2027</strong> I have been in the Forest Hills Public Schools System, at FHN</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Backend</p>
					<p>UI/UX</p>
					<p>Game Development</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
