---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ThemeButton from '../components/ThemeButton.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Home | "+SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body>
		<Header />
		<main class="transition-fade">
		    <h1 class="hero-text"><span class="waving-hand">👋</span> Hi, I'm Darwin.</h1>
			<p>
				Hello, I'm Darwin. I am a 16 year old developer that has dabbled my way through many different projects. I've dipped my feet into web development, and software development
			</p>
			<p>
				I have learned many different programming languages, but here are some that im fluent in:
			</p>
			<ul>
			    <li><a href="https://go.dev">Go</a><span class="note"> (serves the frontend framework)</span></li>
				<li><a href="https://www.rust-lang.org/">Rust</a></li>
				<li><a href="https://www.javascript.com/">JavaScript</a></li>
			</ul>
			<p>Through the years I have also experimented in different web frameworks such as:</p>
			<ul>
			    <li><a href="https://astro.build/">AstroJS</a> <span class="note">(which powers this site!)</span></li>
				<li><a href="https://astro.build/">Svelte</a></li>
				<li><a href="https://tauri.app/">Tauri</a></li>
			</ul>
			<p>
				Moving on, lets check out some of my projects. <a href="/projects">Click here.</a>
			</p>
		</main>
		<ThemeButton/>
		<Footer />
	</body>
</html>
